* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

:root {
    --main-bg-color: #e9f8f7;
    --text-color: rgba(0, 0, 0, 0.8);
}

body {
    background-color: var(--main-bg-color);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    margin-top: 29px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-title {
    display: flex;
    align-items: flex-end;
}

.header-title h1 {
    margin-right: 111px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
}

.menu-items {
    display: flex;
    list-style: none;
}

.menu-items li a {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.menu-items li:first-child {
    margin-right: 42px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.registration-link {
    margin-right: 18px;
    margin-top: 20px;
}

.registration-link a {
    color: #000;
}

.authorization-button {
    align-self: center;
    width: 80px;
    height: 37px;
    margin-top: 20px;
}

.authorization-button button {
    padding: 10px 16px 8px 15px;
    background: #ffffff;
    border-radius: 50px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(132, 179, 176, 0.48));
    cursor: pointer;
}

.authorization-button button:hover {
    background: #84b3b0;
}

.work-search {
    margin-top: 160px;
    display: flex;
    justify-content: center;
}

.work-search .container {
    display: flex;
    align-items: center;
}

.search-block p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 48px;
    line-height: 64px;
    color: var(--text-color);
}

.work-search-input {
    width: 840px;
    height: 102.02px;
    display: flex;
    background: #ffffff;
    border-radius: 33px;
    margin-top: 40px;
    filter: drop-shadow(0px 9px 5px rgba(0, 0, 0, 0.14));
}

.work-search-input .search-job {
    padding: 42px 65px 42px 91px;
    width: 337px;
    border-radius: 33px 0 0 33px;
    border: none;
    font-weight: 600;
}

.work-search-input .search-job::placeholder {
    background: #fffefe;
}

.work-search-input .search-city {
    padding: 42px 78px 42px 105px;
    width: 281px;
    border: none;
    border-left: 2px solid #84b2b0;
    font-weight: 600;
}

.work-search-input button {
    width: 222px;
    height: 102px;
    background: #84b3b0;
    border-radius: 22px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fffdfd;
    cursor: pointer;
}

.help-find-job {
    background-color: #ffffff;
}

.help-find-job .container {
    margin: 0 auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.help p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.logotypes img {
    margin-right: 14px;
}

.wrapper{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.job-categories h1{
    margin-top: 85px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

.categories-cards{
    display: flex;
}

.categories-cards .card{
    display: flex;
    flex-direction: column-reverse ;
    justify-content: center;
    width: 229px;
    height: 178px;
    margin-right: 42px;
    background: #FFFEFE;
    box-shadow: 0px 11px 85px rgba(0, 0, 0, 0.34);
    border-radius: 50px;
}

.categories-cards .card img{
    width: 30px;
    height: 30px;
    margin-bottom: 35px;
    margin-left: 36px;
}

.categories-cards .card p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.more-categories{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-categories button{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 78px;
    width: 261px;
    height: 105px;
    background: #FFFFFF;
    border: none;
    box-shadow: 38px 11px 85px rgba(0, 0, 0, 0.34);
    border-radius: 50px;
    cursor: pointer;
}

.new-vacancies h1{
    margin-top: 167px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

.description{
    margin-top: 24px;
    margin-bottom: 81px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4F4A4A;
}

.vacancies{
    display: flex;
    justify-content: space-between;
}

.vacancies .card{
    width: 400px;
    height: 272px;
    background: #FFFFFF;
    box-shadow: 38px 11px 85px rgba(0, 0, 0, 0.34);
    border-radius: 37px;
}

.vacancies .card .card-head{
    margin-top: 26px;
    margin-left: 29px;
    display: flex;
    width: 121px;
    height: 23px;
    align-items: center;
}

.vacancies .card .card-head p{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    color: rgba(0, 0, 0, 0.53);
}

.vacancies .card .card-head img{
    width: 8px;
    height: 8px;
    margin-right: 12px;
}

.card-content{
    display: flex;
    flex-direction: column;
}

.card-footer{
    display: flex;
    margin-left: 33px;
}

.location{
    margin-bottom: 31px;
    margin-left: 30px;
}

.location p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #302F2F;
}

.card-footer img{
    width: 42px;
    height: 19px;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.basic-info p{
    margin: 40px 0 0 29px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}

.card:nth-child(2) .basic-info p{
    margin: 40px 0 28px 29px;
}

.content{
    display: flex;
    flex-direction: column;
}

.more-vacancies{
    align-self: center;
}

.more-vacancies button{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 78px;
    width: 261px;
    height: 105px;
    background: #FFFFFF;
    border: none;
    box-shadow: 38px 11px 85px rgba(0, 0, 0, 0.34);
    border-radius: 50px;
    cursor: pointer;
}